@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

html, body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    scroll-snap-type: y proximity;
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
:root {
    --bg-color: #DBD5D3;
    --fg-color: #182D11;
    --fg-light-color: #759B69;
    --accent-color: #EB7E1E;
    --accent-secondary-color: #2A90CB;
    --subtle-color: #2c2c2c;

}
.blue {
    background-image: url("../images/bg-alpha.png");
    /*box-shadow: inset 0 0 5em 1em rgba(0, 0, 0, 0.356);*/
    background-size: cover;
    background-position: center;
    padding-top: 0 !important;
    height: 100vh;
}

.main-content {
    /* padding: 0 5%; */
}
.header {
    position: fixed;
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 100vw;
    z-index: 9;
    height: 70px;
    transition: all 0.1s ease;
    background-color: var(--bg-color);
}
.header-index {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5%;
}
.navigation {
    position: relative;
    margin-right: 2em;
    margin-left: auto;
}
.burger {
    cursor: pointer;
    position: relative;
    z-index: 999;

}
.nav-list {
    margin: 0;
    padding: 0;
    right: 2em;
    top: 1em;
    width: 50px;
    display: block;
    height: 50px;
    position: fixed;
    visibility: hidden;
}
.show {
    visibility: visible;
}
.show .bg-nav {
    transform: scale(100);
    visibility: visible;
}
.bg-nav {
    background-color: var(--subtle-color);
    border-radius: 50%;
    width: 50px;
    display: block;
    height: 50px;width: 50px;
    display: block;
    height: 50px;
    transition: transform 0.4s cubic-bezier(.755,.05,.855,.06);
    visibility: hidden;
}
.ul-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    top: 70%;
    left: 5em;
    transform: translateY(-50%);
}
.show-ul {
    opacity: 1;
    top: 50%;
}
.nav-item {
    display: inline;
    font-weight: bold;
    font-size: 28px;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 50px 0;
    cursor: pointer;
    padding: 10px 20px;
    color: var(--bg-color);
}
.nav-item::after  {
    content: "";
    position: absolute;
    background-color: var(--fg-light-color);
    width: 0;
    height: 15px;
    bottom: 7px;;
    left: 20px;
    z-index: -1;
    transition: width 0.4s ease;
}
.nav-item:hover::after  {
    width: 80%;
}
.section {
    scroll-snap-align: start;
    padding: 5%;
    padding-top: 100px;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.section-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.section-title {
    color: var(--fg-color);
}


/* INICIO */
.welcome-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.welcome-title {
    font-size: 32px;
    color: #182D11;
}
.welcome-name {
    position: relative;
}
.welcome-name::after {
    content: "";
    position: absolute;
    background-color: var(--fg-light-color);
    width: 100%;
    height: 15px;
    bottom: 0px;;
    left: 5px;
    z-index: -1;
}
.welcome-button {
    margin-top: 12px;
    border: none;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--fg-light-color);
    box-shadow: 12px 12px 0px 1px #182D11;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.welcome-button:hover {
    box-shadow: 7px 7px 0px 1px #182D11;
}

.avatar {
    width: 100%;
    display: none;
}
.avatar img {
    width: 100%;
}

.solution-list {
    list-style: none;
    padding: 0;
}
.solution-item {
    text-align: center;
    width: 80%;
    margin: 40px auto;
}
.solution-img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.solution-title {
    font-size: 18px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.solution-description {
    font-size: 16px;
    color: var(--subtle-color);
}
.work-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
    box-shadow: 5px 5px 0px 1px var(--fg-light-color);
}
.work-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.work-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--subtle-color);
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 2;
}
.work-data {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.work-data:hover .work-title, .work-data:active .work-title {
    transform: scale(1.2);
    opacity: 0;
}
.work-data:hover .work-hidden, .work-data:active .work-hidden {
    opacity: 1;
    bottom: 30px;
}
.work-title {
    transition: all 0.2s ease;
    text-align: center;
    font-size: 30px;
}
.work-hidden {
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 10%;
    width: 70%;
    font-size: 18px;
    transition: all 0.3s ease;
}
.work-description {
    display: block;
}
.work-updated {
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}
.work-updated svg {
    margin-right: 10px;
}
.links-list {
    display: flex;
    margin: 2em 0;
}
.link-item {
    margin: 0 3px;
}
.link-item-img {
    width: 34px;
    height: 34px;
}

.about-avatar {
    width: 70%;
    border-radius: 50%;
    margin: auto auto;
}
.about-avatar img {
    width: 100%;
    border-radius: 50%;
}
.input-box {
    margin-top: 30px;
}
.input-label {
    position: relative;
    z-index: 5;
    font-size: larger;
    font-weight: bold;
}
.input-label::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: var(--fg-light-color);
    height: 5px;
    width: 110%;
    z-index: -1;
}
.input {
    display: block;
    border: none;
    width: 99%;
    height: 40px;
    max-width: 405px;
    margin: 10px auto 10px 0;
    box-shadow: 5px 5px 0 1px var(--fg-light-color);
    border: 1px solid var(--fg-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    padding: 3px 0 0 10px;
}
textarea.input {
    height: 100px;
}
.submit-form {
    background-color: var(--fg-light-color);
    box-shadow: 5px 5px 0 1px #182D11;
    color: var(--subtle-color);
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border: none;
}
.submit-form:hover {
    box-shadow: 3px 3px 0px 1px #182D11;
}



/* MENU ANIMATION*/
*
{
    -webkit-tap-highlight-color: transparent;
}

*:focus
{
    outline: none;
}
#webapp_cover
{
    position: relative;
    top: 12px;
    margin-right: 1em;
    width: 39px;
    transform: translateY(-50%) scale(1);
    z-index: 99;
}

#menu_button
{
    width: 39px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 12px;
}

#menu_text_bar
{
    top: 24px;
}

#menu_text_bar:before
{
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -39px;
}

#menu_checkbox:checked + #menu_label:after
{
    left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}