@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

html, body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    /* scroll-snap-type: y mandatory; */
    background-color: white;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
  text-decoration: none;
  color: initial;
}
* {
    box-sizing: border-box;
}
:root {
    --bg-color: #DBD5D3;
    --fg-color: #182D11;
    --fg-light-color: #759B69;
    --accent-color: #EB7E1E;
    --accent-secondary-color: #2A90CB;
    --subtle-color: #2c2c2c;
}
.hover-me {
  transition: all 0.3s ease-in;
}
a.hover-me:hover {
  text-decoration: underline;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: 100vw;
  height: 70px;
  z-index: 1;
  transition: all 0.1s ease;
  background-color: white;
  /* background-color: var(--bg-color); */
}
.header_index {
  font-size: 32px;
  font-weight: bold;
  margin-left: 5%;
}
.navigation {
  position: relative;
  margin-right: 2em;
  margin-left: auto;
}
.burger {
  position: relative;
  z-index: 999;

}
.nav_list {
  margin: 0;
  padding: 0;
  right: 2em;
  top: 1em;
  width: 50px;
  display: block;
  height: 50px;
  position: fixed;
  visibility: hidden;
}
.show {
  visibility: visible;
}
.show .bg_nav {
  transform: scale(100);
  visibility: visible;
}
.bg_nav {
  background-color: var(--subtle-color);
  border-radius: 50%;
  width: 50px;
  display: block;
  height: 50px;width: 50px;
  display: block;
  height: 50px;
  transition: transform 0.4s cubic-bezier(.755,.05,.855,.06);
  visibility: hidden;
}
.ul_nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  top: 70%;
  left: 5em;
  transform: translateY(-50%);
}
.show_ul {
  opacity: 1;
  top: 50%;
}
.nav_item {
  display: inline;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px 0;
  padding: 10px 20px;
  color: var(--bg-color);
}
.nav_item::after  {
  content: "";
  position: absolute;
  background-color: var(--fg-light-color);
  width: 0;
  height: 15px;
  bottom: 7px;;
  left: 20px;
  z-index: -1;
  transition: width 0.4s ease;
}
.nav_item:hover::after  {
  width: 80%;
}

/* INICIO */
.welcome_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.welcome_wrapper p {
  max-width: 450px;
}
.welcome_title {
  font-size: 32px;
  color: #182D11;
}
.welcome_name {
  position: relative;
}
.welcome_name::after {
  content: "";
  position: absolute;
  background-color: var(--fg-light-color);
  width: 100%;
  height: 15px;
  bottom: 0px;;
  left: 5px;
  z-index: -1;
}
.welcome_button {
  margin-top: 12px;
  border: none;
  border-radius: 0;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--fg-light-color);
  box-shadow: 12px 12px 0px 1px #182D11;
  transition: box-shadow 0.3s ease;
}
.welcome_button:hover {
  box-shadow: 7px 7px 0px 1px #182D11;
}
.button_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* MENU ANIMATION*/
*
{
    -webkit-tap-highlight-color: transparent;
}

*:focus
{
    outline: none;
}
#cover
{
    position: relative;
    top: 12px;
    margin-right: 1em;
    width: 39px;
    transform: translateY(-50%) scale(1);
    z-index: 99;
}

#menu_button
{
    width: 39px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    color: black;
    position: relative;
    display: block;
    height: 29px;

}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: black;

}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
    background-color: black;
}

#menu_label:after
{
    top: 12px;
    background-color: black;
}

#menu_text_bar
{
    top: 24px;

}

#menu_text_bar:before
{
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -39px;
}

#menu_checkbox:checked + #menu_label:after
{
    left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}

.blue {
  background-image: url("../public/bg-alpha.png");
  /*box-shadow: inset 0 0 5em 1em rgba(0, 0, 0, 0.356);*/
  background-size: cover;
  background-position: center;
  padding-top: 0 !important;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
  padding: 5%;
  padding-top: 100px;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
}
.section_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.section_title {
  color: var(--fg-color);
}

.links_list {
  display: flex;
  margin: 2em 0;
  gap: 10px;
}
.link_item a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link_item_img {
  width: 34px;
  height: 34px;
}

.about_avatar {
  width: 70%;
  border-radius: 50%;
  max-width: 200px;
}
.about_avatar img {
  width: 100%;
  border-radius: 50%;
}
.projects_wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: flex-start; 
}
.project {
  width: 100%;
  max-width: 450px;
  padding: 1em 2em;
  border: 1px solid transparent;
  position: relative;
  transition: 0.5s;
  z-index: 0;
}
.project:hover {
  border: 1px solid rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
}
.project:hover img {
  transform: scale(1.05);
}
.project img {
  transition: 0.5s;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  border: 1px solid black;
  object-fit: cover;
}
.content {
  margin-bottom: 10px;
}
.content a {
  margin-left: 10px;
}
.related_contents {
  padding-bottom: 1em;
}
.project .title, .project .description {
  color: black !important;
}

.contact_wrapper a {
  color: black;
}
.contact_wrapper .underline {
  text-decoration: underline;
}

@media (min-width: 768px) {
 .section {
    padding: 5% 10%; 
  }
  .section-wrapper {
    margin-top: 10em;
  }
}
/** GAME **/
* {
  cursor: none;
}
.cursor-dot, 
.cursor-dot-outline {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: 9;
  display: none;
}
.cursor-dot {
  width: 25px;
  height: 25px;
  background: white;
  mix-blend-mode: difference;
  background-blend-mode: difference;
  border: none;
}
.cursor-dot-outline {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  background: transparent;
  z-index: 99999;
}
.ripple {
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  position: fixed;
  transform: translate(-50%, -50%);
}
.ripple::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid black;
  border-radius: 100%;
  z-index: 99999;
  opacity: 0;
}
.ripple.up::after {
  z-index: 99999;

  animation: ripple 1s cubic-bezier(0.57, 0.12, 0, 0.92);
}
@keyframes ripple
{
  from {height: 0; width: 0; opacity: 1;}
  to { height: 250%; width: 250%; opacity: 0;}
}
.enemy {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../public/ufo.svg");
  width: 50px;
  height: 50px;
  z-index: 999;
  transition: top 0.1s ease, left 0.1s ease, transform 0.2s ease, opacity 0.5s ease;
  opacity: 0;
  animation: appear 1s ease forwards;
}
.ded {
  transition: transform 0s linear !important;
  animation: dead 1s ease;
}
@keyframes appear {
  100%{opacity: 1;}
}
@keyframes dead {
  0% {opacity: 1;}
  100% {transform:scale(1.4) rotate(720deg); opacity: 0;}
}

.scroll_next {
  position: fixed;
  user-select: none;
  bottom: 2em;
  width: calc(2em + 50px);
  height: calc(50px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fg-light-color);
}
.scroll_next img {
  width: 50px;
  height: auto;
  filter: invert(1);
  
}