@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

html,
body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  /* scroll-snap-type: y mandatory; */
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--fg-color);
}

a:visited {
  text-decoration: none;
  color: initial;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #f7faf7;
  --fg-color: #182D11;
  --fg-light-color: #759B69;
  --accent-color: #EB7E1E;
  --accent-secondary-color: #2A90CB;
  --subtle-color: #2c2c2c;
}

.hover-me {
  transition: all 0.3s ease-in;
}

a.hover-me {
  transition: none;
}

a.hover-me:hover {
  text-decoration: underline;
}

a.hover-me:active,
a.hover-me:focus,
a:active,
a:focus {
  outline: 1px solid;
  outline-offset: 4px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-block: 16px;
  width: 100vw;
  z-index: 1;
  transition: all 0.1s ease;
  background-color: var(--bg-color);
  /* background-color: var(--bg-color); */
}

.header_index {
  font-size: 32px;
  font-weight: bold;
  margin-left: 5%;
}

.header_index img {
  cursor: pointer;
  height: 48px;
  width: auto;
}

.navigation {
  position: relative;
  margin-right: 2em;
  margin-left: auto;
}

.burger {
  position: relative;
  z-index: 999;

}

.nav_list {
  margin: 0;
  padding: 0;
  right: 2em;
  top: 1em;
  width: 50px;
  display: block;
  height: 50px;
  position: fixed;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.show .bg_nav {
  transform: scale(100);
  visibility: visible;
}

.bg_nav {
  background-color: var(--subtle-color);
  border-radius: 50%;
  width: 50px;
  display: block;
  height: 50px;
  width: 50px;
  display: block;
  height: 50px;
  transition: transform 0.4s cubic-bezier(.755, .05, .855, .06);
  visibility: hidden;
}

.ul_nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  top: 70%;
  left: 5em;
  transform: translateY(-50%);
}

.show_ul {
  opacity: 1;
  top: 50%;
}

.nav_item {
  display: inline;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 36px 0;
  padding: 6px 20px;
  color: var(--bg-color);
}

.nav_item::after {
  content: "";
  position: absolute;
  background-color: var(--fg-light-color);
  width: 0;
  height: 15px;
  bottom: 7px;
  ;
  left: 20px;
  z-index: -1;
  transition: width 0.4s ease;
}

.nav_item:hover::after {
  width: 80%;
}

/* INICIO */
.welcome_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.welcome_wrapper p {
  max-width: 450px;
  font-size: 1.25em;
}

.welcome_title {
  font-size: 3rem;
  font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
  color: #182D11;
  margin: 0;
}

.welcome_name {
  position: relative;
}

.welcome_name::after {
  content: "";
  position: absolute;
  background-color: var(--fg-light-color);
  width: 100%;
  height: 15px;
  bottom: 0px;
  ;
  left: 5px;
  z-index: -1;
}

.welcome_button {
  margin-top: 12px;
  border: none;
  border-radius: 0;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--fg-light-color);
  box-shadow: 12px 12px 0px 1px #182D11;
  transition: box-shadow 0.3s ease;
}

.welcome_button:hover,
.welcome_button:focus {
  box-shadow: 7px 7px 0px 1px #182D11;
}

.button_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* MENU ANIMATION*/
* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

#cover {
  position: relative;
  top: 12px;
  margin-right: 1em;
  width: 39px;
  transform: translateY(-50%) scale(1);
  z-index: 99;
}

#menu_button {
  width: 39px;
  overflow: hidden;
}

#menu_checkbox {
  display: none;
}

#menu_label {
  color: var(--fg-color);
  position: relative;
  display: block;
  height: 29px;
}

#menu_label:before,
#menu_label:after,
#menu_text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--fg-color);
}

#menu_label:before,
#menu_label:after {
  content: '';
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before {
  top: 0;
  background-color: var(--fg-color);
}

#menu_label:after {
  top: 12px;
  background-color: var(--fg-color);
}

#menu_text_bar {
  top: 24px;

}

#menu_text_bar:before {
  content: 'MENU';
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

#menu_checkbox:checked+#menu_label:before {
  left: -39px;
}

#menu_checkbox:checked+#menu_label:after {
  left: 39px;
}

#menu_checkbox:checked+#menu_label #menu_text_bar:before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }

  80% {
    transform: rotateZ(3deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

.blue {
  position: relative;
  height: 100vh;
}

.img__absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.section {
  scroll-snap-align: start;
  padding: 5%;
  padding-top: 100px;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
}

.section_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.section_title {
  color: var(--fg-color);
}

.links_list {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  gap: 10px;
}

.link_item a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link_item_img {
  width: 34px;
  height: 34px;
}

.about_avatar {
  width: 70%;
  border-radius: 50%;
  max-width: 200px;
}

.about_avatar img {
  width: 100%;
  border-radius: 50%;
}

.projects_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
}

.project {
  padding: 1em;
  border: 1px solid transparent;
  position: relative;
  transition: 0.5s;
  z-index: 0;
  background-color: #fafafa;
}

.project:hover {
  border: 1px solid rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
}

.project:hover img {
  transform: scale(1.05);
}

.project .img__wrapper {
  border: 1px solid var(--fg-color);
  margin-bottom: 1em;
  overflow: hidden;
}

.project img {
  transition: 0.5s;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.content {
  margin-bottom: 10px;
}

.content a {
  margin-left: 10px;
}

.related_contents {
  padding-bottom: 1em;
}

.project .title,
.project .description {
  color: var(--fg-color) !important;
}

.contact_wrapper a {
  color: var(--fg-color);
}

.contact_wrapper .underline {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .section {
    padding: 5% 10%;
  }

  .section-wrapper {
    margin-top: 10em;
  }
}